* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    /* background-color: #a1caf1; */
    overflow-x: hidden;
    color: #222;
    margin: 0;
  }



.wrapper {
    text-align: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-image: url(img/az.jpg);
    
}

h1 {
    font-size: 5.5rem;
    font-family: 'Ranchers', cursive;
}

.name-header {
    padding-top: 200px; 
}

.loml-header {
  padding: 200px 0 50px;
}

.content {
  text-align: center;
}



h2 {
    margin-top: 3%;
    font-size: 2.5rem;
    font-family: 'Ranchers', cursive;
    letter-spacing: 1.5px;
}

.timeline h3 {
  position: relative;
  top: 250px;
  font-size: 1.5rem;
  color: #fff;
  border: solid 1px #fff;
  margin: 0 75px;
}


.title-p {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 1% 30%;
    letter-spacing: 1.2px;
}

.statement {
  padding: 0 250px;
  line-height: 1.3;
  
}




/* NAVIGATION */
.toggle {
  position: fixed;
  background: #a1caf1 url(/img/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: #a1caf1 url(../img/close.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}


nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.active {
  left: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  line-height: 2;
  position: relative;
}

nav ul li {
  position: relative;
  list-style: none;
  text-align: center;

}

nav.active ul li a {
  font-size: 2.2rem;
  color: #111;
  text-decoration: none;
  font-weight:  300;

}

nav.active ul li a:hover {
  color: #a1caf1;
}

.btn {
  display: flex;
  padding: 20px 40px;
  font-size: 1.5rem;
  margin: 10px;
  justify-content: center;
  align-items: center;
}


/* TIMELINE */
.timeline-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px 50px;
  justify-content: center;
  align-items: center;
}

.timeline {
  background-color: #ccc;
  /* width: 100%; */
  height: 300px;
  text-align: center;
  border-radius: 8px;
}

.timeline-container .timeline.year2021 {
  background: url(img/img-2021.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.timeline-container .timeline.year2020 {
  background: url(img/vegas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.timeline-container .timeline.year2019 {
  background: url(img/img-2019.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

.timeline-container .timeline.year2018 {
  background: url(img/img-2018.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

.timeline-container .timeline.year2017 {
  background: url(img/img-2017.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

.timeline-container .timeline.year2016 {
  background: url(img/img-2016.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

.timeline-container .timeline.year2015 {
  background: url(img/img-2015.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.timeline-container .timeline.year2014 {
  background: url(img/img-2014.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.timeline:hover {
  box-shadow: 0 0 10px;
  transform: rotate(deg);
 
}



@media (max-width: 1175px) {
  .timeline-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .statement {
    padding: 0 100px;
  }
}

@media (max-width: 500px) {
  .timeline-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper {
    background: none;
  }
    
}














